version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: flight-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
    container_name: flight-backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env.docker
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
    container_name: flight-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  mongo_data:
