.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.main-content {
    flex: 1;
}