<div class="bookings-page">

    <h1 class="page-title">My Bookings</h1>

    @if (loading$ | async) {
    <div class="center">
        <mat-spinner diameter="40"></mat-spinner>
    </div>
    }

    @if (!(loading$ | async)) {

    @if (bookings$ | async; as bookings) {

    @if (!bookings.length) {
    <p class="empty">
        You don’t have any bookings yet.
    </p>
    } @else {

    @for (b of bookings; track b.id) {
    <mat-card class="booking-card" appearance="outlined">

        <div class="card-header">
            <div class="airline">
                {{ b.flight.airline }}
            </div>

            <div class="ref">
                {{ b.bookingRef }}
            </div>
        </div>

        <div class="route">
            <span class="city">{{ b.flight.origin }}</span>
            <span class="arrow">→</span>
            <span class="city">{{ b.flight.destination }}</span>
        </div>

        <div class="meta">
            <span class="date">
                {{ b.flight.departureTime | date:'medium' }}
            </span>

            <span class="status confirmed">
                {{ b.status }}
            </span>
        </div>

    </mat-card>
    }

    }
    }
    }

</div>