mat-sidenav-container {
    flex: 1;
}


mat-sidenav {
    padding: 0 15px;
    border-radius: 0;
    width: 300px;

}

.page {
    height: 100vh;
}

.sidenav-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidenav-footer {
    margin-top: auto;
    padding: 1rem;
}