@use '@angular/material' as mat;
@use './app/shared/styles/layout.scss';
@use './app/shared/styles/typography.scss';
@use './app/shared/styles/utilities.scss';
@use './app/shared/styles/mat-form-field-layout.scss';
@use './app/shared/styles/auth-dialog.scss';
@use './app/shared/styles/snackbar.scss';

html {
    @include mat.theme((color: (primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        ));
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    color-scheme: light;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);
}