.full-width {
    width: 100%;
}

.option {
    display: flex;
    flex-direction: column;
}

.code {
    opacity: 0.7;
    margin-left: 0.25rem;
}

.name {
    font-size: 0.8rem;
    opacity: 0.75;
}