<mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ label }}</mat-label>

    <input matInput [type]="type" [formControl]="control" [placeholder]="placeholder" [disabled]="disabled" />

    <mat-error *ngIf="showError">
        <ng-container *ngIf="control?.errors as errors">
            <span *ngIf="errors['required']">This field is required</span>
            <span *ngIf="errors['email']">Enter a valid email</span>
            <span *ngIf="errors['minlength']">
                Minimum {{ errors['minlength'].requiredLength }} characters required
            </span>
            <span *ngIf="errors['pattern']">Invalid format</span>
            <span *ngIf="errors['mismatch']">Values do not match</span>
        </ng-container>
    </mat-error>
</mat-form-field>